.idea/
.trae/
target/
logs/
volumes/
uploads/
*.log

application-private.yml
.env
.env.*

frontend/node_modules/
/context/
/.ccb/
/docs/
/context/
/.claude/
/.ccb/
/.claude/
/AICodeFixLog/
/AGENTS.md
